<div class="slider">
    <ul class="slides">
        <li>
        <img src="assets/img/company.jpg"> <!-- random image -->
            <div class="caption center-align">
                <!-- text here -->
                <h3></h3>
                <h5 class="light grey-text text-lighten-3"></h5>
            </div>
        </li>
        <li>
        <img src="assets/img/segunda.jpg"> <!-- random image -->
            <div class="caption right-align">
                <!-- text here -->
                <h3></h3>
                <h5 class="light grey-text text-lighten-3"></h5>
            </div>
        </li>
        <li>
        <img src="assets/img/terceira.jpg"> <!-- random image -->
            <div class="caption left-align">
                <!-- text here -->
                <h3></h3>
                <h5 class="light grey-text text-lighten-3"></h5>
            </div>
        </li>
    </ul>
</div>



<div id="botoes" style="position: fixed; top:10px; right: 10px; z-index:3;">
    <!-- Modal Trigger -->
    <a class="waves-effect blue waves-light btn modal-trigger" href="#signIn">Sing In</a>
    <!-- Modal Trigger -->
    <a class="waves-effect blue waves-light btn modal-trigger" href="#signUp">Szign Up</a>
</div>
<!-- Modal Structure -->
<div id="signIn" class="modal">
    <div class="modal-content">
        <div class="row">
            <center><img class="circle responsive-img" height="70px" width="70px" src="../../assets/img/avatar.png"></center>
            <div class="input-field col s10 offset-s1">
                <input ng-model="login.accountName" id="AccountName" type="text" autofocus>
                <label for="AccountName">Account Name</label>
            </div>
            <div class="input-field col s10 offset-s1">
                <input ng-model="login.password" id="password" type="password">
                <label for="password">Password</label>
            </div>
            <div class="col s10 offset-s1">
                <p>
                    <input class="with-gap" type="checkbox" id="staySigned"/>
                    <label for="staySigned">Stay signed in</label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <center>
                    <button ng-click="signIn()" class="btn blue waves-effect waves-light" type="submit" name="action">
                        SIGN IN
                    </button>
                </center>
            </div>
        </div> 
    </div>
</div>

<!-- Modal Structure -->
<div id="signUp" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s10 offset-s1">
                <select ng-model="createAccount.userType">
                    <option value="" disabled selected>What type of user are you?</option>
                    <option value="candidate">Candidate</option>
                    <option value="company">Company</option>
                </select>
            </div>
            <div ng-if="createAccount.userType == 'company'" class="input-field col s10 offset-s1">
                <input ng-model="createAccount.cnpj" id="newAccountCnpj" type="text">
                <label for="newAccountCnpj">Cnpj</label>
            </div> 
            <div ng-if="createAccount.userType == 'company'" class="input-field col s10 offset-s1">
                <input ng-model="createAccount.nomeFantasia" id="newAccountFantasia" type="text">
                <label for="newAccountFantasia">Nome fantasia</label>
            </div>             
            <div ng-if="createAccount.userType == 'candidate'" class="input-field col s10 offset-s1">
                <input ng-model="createAccount.fullName" id="newFullName" type="text">
                <label for="newFullName">Full name</label>
            </div>
            <div ng-if="createAccount.userType == 'candidate'" class="input-field col s10 offset-s1">
                <input ng-model="createAccount.accountName" id="newAccountName" type="text">
                <label for="newAccountName">Account Name</label>
            </div>          
            <div ng-if="createAccount.userType != ''" class="input-field col s10 offset-s1">
                <input ng-model="createAccount.password" id="newPassword" type="password">
                <label for="newPassword">Password</label>
            </div>
            <div ng-if="createAccount.userType != ''" class="input-field col s10 offset-s1">
                <input ng-model="createAccount.repeatPassword" id="Repeat Password" type="password">
                <label for="Repeat Password">Repeat Password</label>
            </div>
            <div ng-if="createAccount.userType != ''" class="input-field col s10 offset-s1">
                <input ng-model="createAccount.email" id="email" type="text">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <center>
                <button ng-disabled="createAccount.userType == ''" ng-click="signUp(createAccount)" class="btn blue waves-effect waves-light" type="submit">
                    SIGN UP
                </button>
            </center>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $('select').material_select()
    $('.modal-trigger').leanModal()
    $('.parallax').parallax()
    $('.slider').slider({full_width: true, height: $(window).height()})
});
</script>